<header class="clearfix">
    <div class="user left clearfix">
        <div class="avatar"><img src="assets/images/avatar.png" alt="user"></div>
        <p>ERIC DUPONT<br><span>ADMINISTRATEUR</span></p>
        <a routerLink="home" class="logout"><i class="fa fa-power-off"></i></a>
    </div>
    <div class="search right clearfix">
        <form>
            <input type="text" placeholder="SEARCH...">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</header>