<div class="circle-stats">
    <div class="fake-table">
        <div class="fake-table-cell">
            <div class="circle red">
                <div class="fake-table">
                    <div class="fake-table-cell">
                        <p class="counter">{{getCount("ALL")}}</p>
                        <span>EMPLOYES</span>
                    </div>
                </div>
            </div>
            <div class="circle orange">
                <div class="fake-table">
                    <div class="fake-table-cell">
                        <p class="counter">{{getCount("CDI")}}</p>
                        <span>CDI</span>
                    </div>
                </div>
            </div>
            <div class="circle yellow">
                <div class="fake-table">
                    <div class="fake-table-cell">
                        <p class="counter">{{getCount("CDD")}}</p>
                        <span>CDD</span>
                    </div>
                </div>
            </div>
            <br>
            <div class="circle blue">
                <div class="fake-table">
                    <div class="fake-table-cell">
                        <p class="counter">{{getCount("INTERIM")}}</p>
                        <span>INTERIM</span>
                    </div>
                </div>
            </div>
            <div class="circle green">
                <div class="fake-table">
                    <div class="fake-table-cell">
                        <p class="counter">{{getCount("ALTERNANCE")}}</p>
                        <span>ALTERNANTS</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>