<nav class="left eqh">
    <a class="mobile-menu">MENU</a>
    <ul class="menu">
        <li routerLinkActive="active"><a routerLink="/home"><span><i class="fa fa-tachometer"></i></span><p>Accueil</p></a></li>
        <li routerLinkActive="active"><a routerLink="/employees-management"><span><i class="fa fa-picture-o"></i></span><p>Gestion Employés</p></a></li>
        <li routerLinkActive="active"><a routerLink="/stats"><span><i class="fa fa-pie-chart"></i></span><p>Statistiques</p></a></li>
        <li routerLinkActive="active"><a routerLink="/mails"><span><i class="fa fa-cog"></i></span><p>Mails</p></a></li>
    </ul>
    <div class="bottom">
        <a class="info-btn"><i class="fa fa-info"></i></a>
        <div class="info right">
            <h4>CONTACT</h4>
            <p>Pour signaler tout problème ou bug sur la plateforme, vous pouvez contacter le webmaster : <a href="mailto:samyarabi420@gmail.com">ici</a></p>
        </div>
    </div>
</nav>